@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.blog {
  margin: 3em auto;
  width: 60em;

  &__heading {
    @include flex(0, center, flex-start);
    width: 100%;
    height: 10em;
    margin-bottom: 3em;

    h1 {
      font-size: size(super-title);
      font-weight: weight(super);
    }

    h4 {
      margin-top: 1.8em;
      font-size: 1.6em;
      line-height: 1.5;
      font-weight: weight(light);
      color: rgb(68, 68, 68);
      margin-left: 1.5em;
    }
  }
}

.blogpost {
  @include flex(0, center, center);

  &__link {
    cursor: pointer;
    width: 60em;
    font-size: 4em;
    font-weight: weight(super);
    color: $white_300;

    &:hover {
      color: $black_800;
    }
  }
}
