@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;
@use "../1_base/typography" as *;

.button {
  background-color: $black_700;
  color: $white_100;
  width: 7em;
  height: 2.5em;
  font-size: size(button);
  cursor: pointer;
  font-family: $font_family;

  &--subscribe {
    background-color: $green;
    margin-right: -3em;
    color: $black_700;
    &:hover {
      background-color: $green_hover;
    }
  }

  &--contact {
    background-color: $blue;
    color: $black_700;
    &:hover {
      background-color: $blue_hover;
    }
  }

  &--jumbotron {
    width: 14em;
    height: 3em;
    font-size: 1.2em;
    font-weight: weight(light);
    margin-right: 0.8em;
    padding: 0.8em 1.8em;
    &:hover {
      background-color: $black_800;
    }
  }

  &--project {
    font-size: 1.2em;
    font-weight: weight(light);
    margin-right: 0.8em;
    padding: 0.8em 1.8em;
    &:hover {
      background-color: $black_800;
    }
  }
}
