@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;
@use "../1_base/typography" as *;

.button {
  background-color: $black_700;
  color: $white_100;
  width: 7em;
  height: 2.5em;
  font-size: size(button);
  cursor: pointer;
  font-family: $font_family;

  &--subscribe {
    background-color: $green;
    margin-right: -3em;
    color: $black_700;
    &:hover {
      background-color: $green_hover;
    }
  }

  &--contact {
    background-color: $blue;
    color: $black_700;
    &:hover {
      background-color: $blue_hover;
    }
  }

  &--jumbotron {
    background-color: transparent;
    border: 5px solid $black_800;
    width: 15em;
    height: 3.3em;
    color: $black_700;
    font-weight: weight(medium);

    &:hover {
      background-color: $black_800;
      color: $white_100;
    }
  }

  &--project {
    width: 10em;
    height: 3em;
    font-size: 1.2em;
    font-weight: weight(light);
    margin-top: 1.2em;
    margin-right: 0.8em;
    &:hover {
      background-color: $black_800;
    }
  }
}
