@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.jumbotron {
  //   background-color: yellow;
  width: 100%;
  height: 33em;
  position: relative;
  margin-top: 3em;
  &__text-container {
    @include flex(column, left, space-between);
    position: absolute;
    bottom: 3em;
    // background-color: blue;
    width: 70%;
    height: 27em;
    padding-left: 8em;
  }

  &__main-title {
    font-size: size(big-title);
    font-weight: weight(superlight);

    span {
      font-weight: weight(super);
    }
  }

  h5 {
    margin-bottom: -1.3em;
    margin-left: 0.3em;
    font-weight: weight(medium);
    font-size: size(heading5);
  }

  p {
    line-height: 1.5;
    font-size: 1.1em;
  }

  &__social-media {
    margin-top: 2em;
    width: 100%;
    height: 1.8em;

    &--logo {
      width: 1.8em;
      height: auto;
      opacity: 0.5;
      margin-right: 2em;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
