@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.main-logo-container {
  //   background-color: greenyellow;
  width: 2.8em;
  margin-left: 0.6em;
}

.main-logo {
  width: 100%;
  height: 100%;
}
