@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.testimonial {
  width: 60em;
  margin: 16em auto;

  &__feed {
    @include flex(0, center, space-between);
  }
  &__title {
    font-size: size(super-title);
    font-weight: weight(super);
    margin-bottom: 0.3em;
  }

  &__container {
    &--single {
      @include flex(0, center, flex-start);
      background-color: $white_100;
      width: 23em;
      height: 6.5em;
      padding-left: 2.5em;
      cursor: pointer;

      &:hover {
        background-color: $green;
      }
    }
  }

  &__feedback-container {
    width: 28em;
    height: 20em;
    position: absolute;
    margin-left: 28em;
    margin-top: 14em;

    h5 {
      font-size: 1.7em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: size(paragraph);
      line-height: 1.5;
    }
  }

  &__photo-container {
    width: 3em;
    height: 3em;
    border-radius: 50%;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__personal-info {
    margin-left: 1em;
  }

  &__name {
    font-size: size(heading5);
  }

  &__role {
    font-size: 1.1em;
    font-weight: weight(light);
  }
}

.hide {
  display: none;
}
