@use "../1_base/colors" as *;
@use "../2_utils/mixins" as *;
@use "../2_utils/functions" as *;

.testimonial {
  width: 60em;
  margin: 0 auto;
  background-color: yellow;
  &__title {
    font-size: size(super-title);
    font-weight: weight(super);
  }

  &__container {
    &--single {
      background-color: green;
      width: 20em;
      height: 8em;
    }
  }

  &__photo-container {
    background-color: blue;
    width: 4em;
    height: 4em;
    border-radius: 50%;
  }

  &__photo {
    width: 4em;
    height: auto;
    object-fit: cover;
  }
}
