@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

input[type=text]::-moz-placeholder {
  opacity: 1;
}

input[type=text]:-ms-input-placeholder {
  opacity: 1;
}

input[type=text]::placeholder {
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.Navbar {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4em;
  margin-top: 0.3em;
}

.nav {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-size: 1.1em;
}
.nav__nav-container {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  padding-right: 1.8em;
}
.nav__link {
  text-align: center;
  font-weight: 300;
  height: 2em;
  width: 3.6em;
  margin-top: 0.6em;
}
.nav__link:hover {
  border-bottom: 2px solid #161616;
  border-spacing: 20px;
  font-weight: 400;
}
.nav__button {
  font-size: 0.8em;
  font-weight: 400;
}

.jumbotron {
  width: 100%;
  height: 33em;
  position: relative;
  margin-top: 3em;
}
.jumbotron__text-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  position: absolute;
  bottom: 3em;
  width: 70%;
  height: 27em;
  padding-left: 8em;
}
.jumbotron__main-title {
  font-size: 4.3em;
  font-weight: 200;
}
.jumbotron__main-title span {
  font-weight: 900;
}
.jumbotron h5 {
  margin-bottom: -1.3em;
  margin-left: 0.3em;
  font-weight: 600;
  font-size: 1.1em;
}
.jumbotron p {
  line-height: 1.5;
  font-size: 1.1em;
}
.jumbotron__social-media {
  margin-top: 2em;
  width: 100%;
  height: 1.8em;
}
.jumbotron__social-media--logo {
  width: 1.8em;
  height: auto;
  opacity: 0.5;
  margin-right: 2em;
}
.jumbotron__social-media--logo:hover {
  opacity: 0.9;
}

.stats {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #161616;
  color: #fafafa;
  width: 75%;
  height: 10em;
  margin: 5em auto 0 auto;
  padding-top: 0.4em;
  padding-left: 3em;
  padding-right: 3em;
  z-index: 2;
  position: relative;
}
.stats__certifications-container {
  width: 58%;
}
.stats__certifications {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
}
.stats__img {
  width: 3em;
}
.stats__img--uji {
  width: 14em;
}
.stats__img--free {
  width: 12em;
  margin-left: -1.2em;
}
.stats__stats {
  text-align: center;
}
.stats__stats h2 {
  font-size: 4.3em;
  margin-top: -0.2em;
}

.button {
  background-color: #303030;
  color: #fafafa;
  width: 7em;
  height: 2.5em;
  font-size: 0.9em;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
}
.button--subscribe {
  background-color: #97f8b2;
  margin-right: -3em;
  color: #303030;
}
.button--subscribe:hover {
  background-color: #82dd9b;
}
.button--contact {
  background-color: #97d1f8;
  color: #303030;
}
.button--contact:hover {
  background-color: #81bae0;
}
.button--jumbotron {
  width: 14em;
  height: 3em;
  font-size: 1.2em;
  font-weight: 300;
  margin-right: 0.8em;
  padding: 0.8em 1.8em;
}
.button--jumbotron:hover {
  background-color: #161616;
}
.button--project {
  font-size: 1.2em;
  font-weight: 300;
  margin-right: 0.8em;
  padding: 0.8em 1.8em;
}
.button--project:hover {
  background-color: #161616;
}

.main-logo-container {
  width: 2.8em;
  margin-left: 0.6em;
}

.main-logo {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0.8;
}
.main-logo:hover {
  opacity: 1;
}

.project {
  margin-top: 10em;
}
.project__container {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
  width: 71.5909090909em;
  height: 35.7954545455em;
  background-color: #f98c81;
  margin: 4em auto;
  opacity: 0.7;
  transition: 0.3s;
}
.project__container:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.project__division {
  width: 50%;
  height: 100%;
}
.project__division--text {
  padding: 5em 3em 2em 5em;
  color: #161616;
}
.project__division--image {
  width: 50%;
}
.project__division--image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.project__stack {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: flex-start;
  width: 23em;
  height: 2em;
}
.project__title {
  margin-top: 0.1em;
  font-size: 4.3em;
  font-weight: 900;
  line-height: 1;
}
.project__description {
  font-size: 1.2em;
  line-height: 1.6;
  margin-top: 0.7em;
}
.project__links {
  margin-top: 3em;
}

.tag--stack {
  display: inline-block;
  padding: 0.4em 0.6em;
  font-size: 0.75em;
  font-weight: 400;
  color: #161616;
  background-color: #fafafa;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

.testimonial {
  width: 60em;
  margin: 16em auto;
}
.testimonial__feed {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
}
.testimonial__title {
  font-size: 10em;
  font-weight: 900;
  margin-bottom: 0.3em;
}
.testimonial__container--single {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: flex-start;
  background-color: #fafafa;
  width: 23em;
  height: 6.5em;
  padding-left: 2.5em;
  cursor: pointer;
}
.testimonial__container--single:hover {
  background-color: #97f8b2;
}
.testimonial__feedback-container {
  width: 28em;
  height: 20em;
  position: absolute;
  margin-left: 28em;
  margin-top: 14em;
}
.testimonial__feedback-container h5 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
}
.testimonial__feedback-container p {
  font-size: 1.2em;
  line-height: 1.5;
}
.testimonial__photo-container {
  width: 3em;
  height: 3em;
  border-radius: 50%;
}
.testimonial__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.testimonial__personal-info {
  margin-left: 1em;
}
.testimonial__name {
  font-size: 1.1em;
}
.testimonial__role {
  font-size: 1.1em;
  font-weight: 300;
}

.hide {
  display: none;
}

.blog {
  margin: 3em auto;
  width: 60em;
}
.blog__heading {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 10em;
  margin-bottom: 5em;
}
.blog__heading h1 {
  font-size: 10em;
  font-weight: 900;
}
.blog__heading h4 {
  margin-top: 1.8em;
  font-size: 1.6em;
  line-height: 1.5;
  font-weight: 300;
  color: #444444;
  margin-left: 1.5em;
}

.blogpost {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  width: 100%;
  height: 10em;
  cursor: pointer;
}
.blogpost__link {
  font-size: 2em;
  font-weight: 300;
}

.about {
  display: flex;
  flex-direction: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 38em;
  background-color: #303030;
  color: #fafafa;
  margin-top: -5em;
  margin-bottom: 8em;
  z-index: 0;
  position: relative;
  padding-top: 4em;
}
.about__text {
  width: 33em;
  height: 22em;
  font-weight: 300;
}
.about__text--left {
  margin-right: 1.8em;
}
.about__text h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.about__text p {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: justify;
}/*# sourceMappingURL=style.css.map */